/* selector universal */
* {
    margin: 0;
    padding: 0;
}

/**** estilos globales ****/
body {
    font-family: 'Inter', sans-serif;
    background-color:#FFFCF2;
}

/* button */
.button {
    background-color:#EB5E28;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/**** header ****/
nav {
    background-color: #EB5E28;
}

.nav-link {
    color: white;
}

.logo {
    width: 70px;
}

/* flex container */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

header nav ul li {
    padding: 20px;
}

header nav a {
    text-decoration: none;
    color: white;
}

/**** portada ****/
#portada {
    color: #252422;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portada h1 {
    text-align: center;
    font-size: 2rem;
}

#portada p {
    text-align: center;
    font-size: 1.5rem;
    max-width: 80%;
    margin: 40px 0;
}


#portada .button {
   
}

.marca {
    font-weight: bold;
}

/**** servicios ****/
#servicios {
    color: #252422;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#servicios h2 {
    text-align: center;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    max-width: 1300px;
}

.cardServicio {
    background-color: white;
    color: black;
    width: 250px;
    padding: 30px;
    margin: 0 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardServicio img {
    width: 120px;
}

.cardServicio p {
    /* quitar */
    margin: 20px 0;
}


/**** footer ****/
footer {
    background-color: #CCC5B9;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* explicar este selector */
footer>div {
    padding: 40px 0;
}

.footerEnlaces a {
    text-decoration: none;
    color: black;
}

.footerColumns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}